
<div class="photo-printing">
        <h1 class="heading-primary">PRINTING SERVICES</h1>
        
        <div class='banner'>
            <div class="banner__image"></div>
        </div>
    
        <div class="u-container">
            <section class="service">
                <h2 class="heading-secondary u-margin-medium">DIGITIAL PRINTING</h2>
                <p class="paragraph">Print your most cherished memories from the comfort of your own home with our online portal or directly from your phone using our in-store kiosk, where we will be happy to help out. 
                    <br><br>
                    See below for our selection on prints sizes. We use only the highest quality of materials provided by established photo specalists, Fujifilm.
                </p>
            </section>
    
    
            <section class="service">
                <h2 class="heading-secondary u-margin-medium">PHOTOGRAPHIC-PAPER PRINTING</h2>
                <table class="u-margin-medium">
                    <tr>
                        <th>Quantity</th>
                        <th>6 x 4</th>
                        <th>5 x 7</th>
                        <th>6 x 8/9</th>
                        <th>8 x 10/12</th>
                    </tr>
                    <tr>
                        <td>1 to 5</td>
                        <td>£1.00</td>
                        <td>£1.30</td>
                        <td>£1.80</td>
                        <td>£7.99</td>
                    </tr>
                    <tr>
                        <td>6 to 15</td>
                        <td>£0.90</td>
                        <td>£1.10</td>
                        <td>£1.50</td>
                        <td>£4.99</td>
                    </tr>
                    <tr>
                        <td>16 to 49</td>
                        <td>£0.50</td>
                        <td>£0.80</td>
                        <td>£1.10</td>
                        <td>£3.99</td>
                    </tr>
                    <tr>
                        <td>50 +</td>
                        <td>£0.25</td>
                        <td>£0.40</td>
                        <td>£0.70</td>
                        <td>£2.99</td>
                    </tr>
                </table>
                
                <table>
                    <tr>
                        <th>Quantity</th>
                        <th>10 x 12</th>
                        <th>11 x 14</th>
                        <th>12 x 16</th>
                        <th>12 x 18</th>
                    </tr>
                    <tr>
                        <td>1 to 5</td>
                        <td>£9.99</td>
                        <td>£11.99</td>
                        <td>£16.99</td>
                        <td>£16.99</td>
                    </tr>
                    <tr>
                        <td>6 to 15 </td>
                        <td>£8.99</td>
                        <td>£9.99</td>
                        <td>£12.99</td>
                        <td>£12.99</td>
                    </tr>
                    <tr>
                        <td>16 to 49</td>
                        <td>£6.99</td>
                        <td>£7.99</td>
                        <td>£9.99</td>
                        <td>£9.99</td>
                    </tr>
                    <tr>
                        <td>50 +</td>
                        <td>£5.99</td>
                        <td>£6.99</td>
                        <td>£8.99</td>
                        <td>£8.99</td>
                    </tr>
                </table>
            </section>
    
            <section>
                <a class="call-to">
                    Click Here To 
                    <br>
                    <span class="call-to--bold">Order Online</span>
                    <img src="../../assets/logos/Fujifilm-Logo-White.png">
                </a>
            </section>
    
            <section class="tables service">
                <div class="table">
                    <h2 class="heading-tertiary">POSTER PRINTING</h2>
                    <table>
                        <tr>
                            <th>Size</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>16x20</td>
                            <td>£25.00</td>
                        </tr>
                        <tr>
                            <td>A2</td>
                            <td>£25.00</td>
                        </tr>
                        <tr>
                            <td>20x24</td>
                            <td>£29.00</td>
                        </tr>
                        <tr>
                            <td>20x28</td>
                            <td>£32.00</td>
                        </tr>
                        <tr>
                            <td>A1</td>
                            <td>£35.00</td>
                        </tr>
                        <tr>
                            <td>24x36</td>
                            <td>£38.00</td>
                        </tr>
                        <tr>
                            <td>28x40</td>
                            <td>£42.00</td>
                        </tr>
                        <tr>
                            <td>32x44</td>
                            <td>£45.00</td>
                        </tr>
                        <tr>
                            <td>A0</td>
                            <td>£55.00</td>
                        </tr>
                    </table> 
                </div>
                <div class="table">
                    <h2 class="heading-tertiary">PRINT FROM PRINT</h2>
                    <table>
                        <tr>
                            <th>Size</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>6x4</td>
                            <td>£2.50</td>
                        </tr>
                        <tr>
                            <td>7x5</td>
                            <td>£3.50</td>
                        </tr>
                        <tr>
                            <td>8x6</td>
                            <td>£4.50</td>
                        </tr>
                        <tr>
                            <td>10x8</td>
                            <td>£10.00</td>
                        </tr>
                        <tr>
                            <td>12x8</td>
                            <td>£10.00</td>
                        </tr>
                        <tr>
                            <td>12x10</td>
                            <td>£12.00</td>
                        </tr>
                        <tr>
                            <td>12x16</td>
                            <td>£20.00</td>
                        </tr>
                        <tr>
                            <td>12x18</td>
                            <td>£20.00</td>
                        </tr>
                    </table> 
                </div>
            </section> 


            <section class="service">
                <h2 class="heading-secondary u-margin-medium">CANVAS PRINTING</h2>
                <div class="service__grid">
                    <div class="service__grid--image"  style="background-image: url('../../assets/images/printing/canvas-front.jpg')"></div>
                    <div class="service__grid--image u-left"  style="background-image: url('../../assets/images/printing/canvas-black.jpg')"></div>
                    <p class="service__grid--text paragraph">Make your pictures into art-peices with out selection of canvas printing ervices where we are sure you will find something perfect to suit you home</p>
                </div>
            </section>
    

    
            <section class="service">
                <h2 class="heading-secondary u-margin-medium">ACRYLIC CRYSTAL BLOCK</h2>
                <div class="service__grid">
                    <div class="service__grid--image" style="background-image: url('../../assets/images/printing/acrylic-block.jpg')"></div>
                    <div class="service__grid--image u-cover" style="background-image: url('../../assets/images/printing/acrylic-corner.jpg')"></div>
                    <p class="service__grid--text paragraph">If you want an alternative way to display your images why not go for one of our acrylic crystal blocks; A perfect gift for the ones you love.</p>
                </div>
            </section>
    
           
            <section class="service">
                <h2 class="heading-secondary u-margin-medium">Photoblock Panel</h2>
                <div class="service__grid">
                    <div class="service__grid--image"  style="background-image: url('../../assets/images/printing/photo_block.jpg')"></div>
                    <div class="service__grid--image u-cover"  style="background-image: url('../../assets/images/printing/photoblock-corner.jpg')"></div>
                    <p class="service__grid--text paragraph">Display your pictures using our wooden photo-block panels which come ready-to-hang, or could be stood on any surface of your choosing.</p>
                </div>
            </section>

           
            <section>
                <a class="call-to">
                    Click Here To 
                    <br>
                    <span class="call-to--bold">Order Online</span>
                    <img src="../../assets/logos/Fujifilm-Logo-White.png">
                </a>
            </section>


            <section class="service">
                <h2 class="heading-secondary u-margin-medium">Bespoke Framing</h2>
                <div class="service__content">
                <div class="service__content--image u-margin-medium"  style="background-image: url('../../assets/images/printing/Frames.jpg')"></div>
                <p class="paragraph">if your after something a bit more personalised, come in store and check out our selection of frames, perfect to give your pictures that nice tailored finish.</p> 
                </div>
            </section>

            <section class="service">
                <h2 class="heading-secondary u-margin-medium">Commercial Printing</h2>
                <div class="service__content">
                <div class="service__content--image u-margin-medium"  style="background-image: url('../../assets/images/printing/commercial.jpg')"></div>
                <p class="paragraph">As a busines we know the importance of getting your brand out there. We offer high quality commercial printing services such as:
                </p> 
                <ul class="service__list">
                    <li>Business Cards</li>
                    <li>Banner Printing</li>
                    <li>Book Binding</li>
                    <li>Document Laminating</li>
                    <li>Document Printing and/or Scanning</li>
                </ul>
                </div>
            </section>
    

            <section class="service">
                <h2 class="heading-secondary u-margin-medium">Artwork Design</h2>
                <div class="service__grid">
                    <p class="service__grid--text paragraph">We understand not everyone has the background in Art & Design, If your struggling to design a logo, business card, or brochure, come in store and we will be more than happy to assist you!</p> 
                    <div class="service__grid--image"  style="background-image: url('../../assets/images/printing/ActionGuitars.jpg')"></div>
                    <div class="service__grid--image"  style="background-image: url('../../assets/images/printing/PolygonSpore.jpg')"></div>
                </div>
            </section>
    
        
        </div>
    </div>
    