@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin flex-row {

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;

    /* Direction defaults to 'row', so not really necessary to specify */
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}

@mixin flex-column {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;

    /* Direction defaults to 'row', so not really necessary to specify */
    -webkit-flex-direction: -webkit-column;
    -moz-flex-direction:-webkit-column;
    -ms-flex-direction: -webkit-column;
    -o-flex-direction: -webkit-column;
    flex-direction: -webkit-column;
}

@mixin home-service {
    height: 22rem;
    background-size: cover;
    border-radius:5px;
    background-position: center;
    
}
