// COLORS

$color-primary: #757575;
$color-secondary: #282828;
$color-offset: #f1f1f8;

// GRID WIDTH
$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-horizontal: 3rem;


// Font Size 
$font-size-small--1: 1.6rem;
$font-size-small--2: 1.8rem;
$font-size-small--3: 2.5rem;
$font-size-medium: 3.5rem;
$font-size-big: 4.5rem;

