<header class="header">
        <div class="header__logo-box">
            <div class="u-container" >
                <a routerLink="" routerLinkActive="active">
                    <img class="header__logo-box--pd-logo" alt="Perfect Digital Logo" src="../../assets/logos/perfect-digital-logo.png">
                </a>
                <img id="toggle" class="header__logo-box--toggle" src="../../assets/icons/menu-white.png" alt="Menu Toggle">
                <img class="header__logo-box--f-logo" alt="Fuji Film Logo" src="../../assets/logos/Fujifilm-Logo-White.png">
            </div>
        </div>
        <nav class="header__nav">
            <div class="u-container">
                <a class="header__nav--link"  routerLink=""                routerLinkActive="active">Home</a>
                <a class="header__nav--link"  routerLink="photo-printing"  routerLinkActive="active">Printing Services</a>
                <a class="header__nav--link"  routerLink="studio-services" routerLinkActive="active">Studio Services</a>
                <a class="header__nav--link"  routerLink="photo-gifts"     routerLinkActive="active">Photo Gifts</a>
                <a class="header__nav--link"  routerLink="how-to-find-us"  routerLinkActive="active">How To Find Us</a>    
            </div>
        </nav>
</header>
    

<script type="text/javascript">

    

</script>