<div class="find-us">

    <h1 class="heading-primary">HOW TO FIND US</h1>

    <div class="u-container">
       <section>
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9926.31198556729!2d0.0509509!3d51.5392996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6a854246c5943092!2sPerfect%20Digital%20Ltd!5e0!3m2!1sen!2suk!4v1566950338495!5m2!1sen!2suk"  frameborder="0" style="border:0;" allowfullscreen=""></iframe>
       </section>
		
		<section class="contact">
        <p class="contact--item">211 High Street North</p>
        <p class="contact--item">East Ham, London</p>
        <p class="contact--item">E5 1JG</p>
        <p class="contact--item">UK</p>
		</section>
    </div>

</div>


