
.banner__image {
    background-image: url('../../assets/images/photogifts/PhotogiftBanner.jpg');    
    background-size: contain;
}

#a4pic {
    background:  linear-gradient(to right, #6fd8dc, #86dde2)
}