
<div class="photo-printing">
        <h1 class="heading-primary">Photo Gifts</h1>
        
        <div class='banner'>
            <div class="banner__image"></div>
        </div>

        <div class="u-container">
            <section>
                <p class="paragraph">Choose from our wide selection of customized phot gifts for any occasion. Wether it be for a birthday, mothers day or even a graduation gift, were sure to have exactly what you are looking for!
                    <br><br>
                    All items are made instore and to our highest standards, all to make them memorable moments everlasting.
                    <br><br>
                    All you need to get one our photo gifts is to either bring a copy of the image to our store on you phone or USB, or arternatively you can use the online portal to shop from the comfort of your own home.
                </p>
            </section>
            <section class="service">
                <div class="service__grid">
                    <div class="service__grid--image"  style="background-image: url('../../assets/images/photogifts/photogifts.jpg')">
                    <h3 class="heading-tertiary service__grid--image--label">IPhone Cases</h3></div>
                    <div class="service__grid--image"  style="background-image: url('../../assets/images/photogifts/mug.jpg')">
                        <h3 class="heading-tertiary service__grid--image--label">Mugs</h3></div>
                    <div class="service__grid--image"  style="background-image: url('../../assets/images/photogifts/tshirt.jpg')">
                        <h3 class="heading-tertiary service__grid--image--label">T-Shirts</h3></div>
                    <div class="service__grid--image"  style="background-image: url('../../assets/images/photogifts/cushion.jpg')">
                        <h3 class="heading-tertiary service__grid--image--label">Pillow Cases</h3></div>
                    <div class="service__grid--image"  style="background-image: url('../../assets/images/photogifts/jigsaw.jpg')">
                        <h3 class="heading-tertiary service__grid--image--label">Jigsaws</h3></div>
                    <div class="service__grid--image"  style="background-image: url('../../assets/images/photogifts/mouse_mat.jpg')">
                        <h3 class="heading-tertiary service__grid--image--label">Mouse Matts</h3></div>
                    </div>
                    <p class="service__grid--text heading-tertiary u-margin-top">And Much Much More</p>
            </section>

            <section>
                    <a class="call-to">
                        Click Here To 
                        <br>
                        <span class="call-to--bold">Order Online</span>
                        <img src="../../assets/logos/Fujifilm-Logo-White.png">
                    </a>
                </section>



            <section class="service">
                    <h2 class="heading-secondary u-margin-medium">Photobooks</h2>
                    <div class="service__content">
                    <div id="a4pic">
                        <div class="service__content--image u-margin-medium u-contain"  style="background-image: url('../../assets/images/photogifts/a4.png')"></div>
                    </div>
                    <p class="paragraph">Catalogue them unforgetable moments by creating a custom made photo album, all by using the Fujifilm portal! </p>
                        
                    </div>
                </section>
        </div>
</div>