.studio-service {

}

#promo {
    background-size: contain;
    height: 35rem;
}

.banner__image {
    background-image: url('../../assets/slideshow/bare/passport.jpg');    
    background-size: contain;
}
#passport-price {
    height: 60rem;
    background-size: 50% 100%;
    background-position: center;
    border-radius: 5px;
}