
<div class="studio-studio">
        <h1 class="heading-primary">STUDIO SERVICES</h1>
    
        <div class='banner'>
            <div class="banner__image"></div>
        </div>
        
        <div class="u-container">
            <section class="service">
                <h2 class="heading-secondary u-margin-medium">PASSPORT TYPE PHOTOGRAPHS</h2>
                <div class="service__content">
                    <p class="paragraph u-margin-medium">We offer passport, visa and other official document sized images, taken by our photo specialists and printed instore. 
                        <br>
                        We can provide both hard and soft-copie aswell as the digital code for faster and easier renewal of UK passports.
                        <br><br>
                        Our images are guaranteed to pass the first time, otherwise a free retake will be provided.
                        <br><br>
                        (must provide proof of rejection)
                    </p>
                    <div id="promo" class="service__content--image u-margin-medium" style="background-image: url('../../assets/images/studio/digital-pass.jpg')"></div>
                    <div class="service__content--image" id="passport-price" style="background-image: url('../../assets/images/studio/passport-baner2.jpg')"></div>       
                </div>
            </section>
            
            <section class="service">
                <h2 class="heading-secondary u-margin-medium">PORTRAIT PHOTOSHOOTS</h2>
                <p class="paragraph u-margin-medium">Want a moment to last forever? Wether its capturing that precious family moment or that perfect gruadation gift. Or you even need a headshot for your business profile. We can offer it all with our versatile professional studio, run by our highly trained and experianced staff. </p>
                <div class="service__grid">
                    <div class="service__grid--image u-cover" style="background-image: url('../../assets/images/studio/shutter.jpg')"></div>
                    <div class="service__grid--image u-cover" style="background-image: url('../../assets/images/studio/guy.jpg')"></div>
                    <div class="service__grid--table">
                        <table>
                            <tr>
                                <th>Size</th>
                                <th>Price</th>
                                <th>Extra Copies</th>
                            </tr>
                            <tr>
                                <td>6x8</td>
                                <td>£50.00</td>
                                <td>£15.00</td>
                            </tr>
                            <tr>
                                <td>8x10</td>
                                <td>£90.00</td>
                                <td>£20.00</td>
                            </tr>
                            <tr>
                                <td>8x12</td>
                                <td>£90.00</td>
                                <td>£20.00</td>
                            </tr>
                            <tr>
                                <td>10x12</td>
                                <td>£110.00</td>
                                <td>£30.00</td>
                            </tr>
                            <tr>
                                <td>12x16</td>
                                <td>£140.00</td>
                                <td>£40.00</td>
                            </tr>
                            <tr>
                                <td>16x20</td>
                                <td>£160.00</td>
                                <td>£50.00</td>
                            </tr>
                            <tr>
                                <td>24x36</td>
                                <td>£200.00</td>
                                <td>£60.00</td>
                            </tr>
                        </table> 
                    </div>  
                    <p class="paragraph service__grid--text">
                        All prices include 3 different prints
                    <br>Photo sessions last a maximum of 30 minutes and extra copies are charged per print</p>
                </div> 		
            </section>
    
            <section>
                <a class="call-to">
                    Click Here To 
                    <br>
                    <span class="call-to--bold">Order Online</span>
                    <img src="../../assets/logos/Fujifilm-Logo-White.png">
                </a>
            </section>

            <section>
                <h2 class="heading-secondary">Injury & Criminal Photographs</h2>
                <p class="paragraph">We can provide images for criminal and personal injury and compensation board which can be endorsed on the reverse. They are usually printed in a 6x4 size however can be change upon request.</p>
            </section>
        </div>
    </div>
        