
<h2 class="heading-primary">Welcome Home</h2>

<app-landing></app-landing>

<section class="home u-container">
    <section class="row">
        <div class="col-1-of-3">
            <div class="home__service">
                <div class="home__service--img-1 u-margin-small"> </div>
                <h3><a class="home__service--heading u-margin-small" routerLink="/photo-printing" routerLinkActive="active">Photo Printing</a></h3>
                <p class="paragraph">Catalogue your loose snapshots in our photo albums
                </p>
            </div>
        </div>
        
        <div class="col-1-of-3">
            <div class="home__service">
                <div class="home__service--img-2 u-margin-small"> </div>
                <h3><a class="home__service--heading u-margin-small" routerLink="/studio-services" routerLinkActive="active">Studio Services</a></h3>
                <p class="paragraph">Passport, Visa, and other offical sized images</p>
            </div>
		</div>

        <div class="col-1-of-3">
            <div class="home-service">
                    <div class="home__service--img-3 u-margin-small"> </div>
                    <h3><a class="home__service--heading u-margin-small" routerLink="/photo-gifts" routerLinkActive="active">Photo Gifts</a></h3>
                    <p class="paragraph">Choose from our wide selection of photo gifts for any occasion</p>
            </div>
        </div>
    </section>

    <section>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9926.31198556729!2d0.0509509!3d51.5392996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6a854246c5943092!2sPerfect%20Digital%20Ltd!5e0!3m2!1sen!2suk!4v1566950338495!5m2!1sen!2suk"  frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </section>
    
    <section class="contact">
        <p class="contact--item">211 High Street North</p>
        <p class="contact--item">East Ham, London</p>
        <p class="contact--item">E5 1JG</p>
        <p class="contact--item">UK</p>
    </section>
</section>